# Node.js
frontend/node_modules
frontend/dist
frontend/.angular
frontend/npm-debug.log

# Python
backend/__pycache__
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.Python
backend/env
backend/venv
backend/*.db

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Misc
.DS_Store
*.log 