<div class="login-wrapper">
  <div class="login-header">Elysium Care Center</div>
  <div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div *ngIf="errors.auth" class="auth-error">
        {{errors.auth}}
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required (blur)="validateEmail()">
        <span class="error-message" *ngIf="errors.email">{{errors.email}}</span>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required
          (blur)="validatePassword()">
        <span class="error-message" *ngIf="errors.password">{{errors.password}}</span>
      </div>
      <div class="form-actions">
        <button type="submit">Login</button>
        <p class="register-link">Don't have an account? <a [routerLink]="['/register']">Register</a></p>
      </div>
    </form>
  </div>
</div>